    
p {
    color:black;
    font-family: 'Short Stack', cursive;
}
h1{
    color:white;
    font-family: 'Bangers', cursive;
}
h2{
    color:Yellow;
    font-family: 'Special Elite', cursive;
}

img{
    height:200px;
}
body {
    font-family: 'Anton', sans-serif;
    background-image:url("https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}